<h1><%= @game.name %></h1>
<h2><%= @game.players %></h2>
<h2><%= @game.manufacturer %></h2>
<br>

<h3>Edit Game</h3>
<form method="POST" action="/games/<%= @game.id %>/edit">
  <input type="submit" value="Edit Game">
</form>
<br>

<h3>Delete Game</h3>
<form method="POST" action="/games/<%= @game.id %>/delete">
  <input type="submit" value="Delete Game">
</form>
<br>